.header .container {
  display: flex;
  align-items: center;
}

.main-nav {
}
.main-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-item {
}
.main-nav-link {
  display: block;

  padding: 24px 0;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}
.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
  padding: 24px 0;
}
.contacts-link {
  font-weight: 400;
  color: #434455;
  padding: 24px 0;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
