.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.main-nav {
}
.main-list {
  margin-left: 76px;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}
.main-item {
}
.main-nav-link {
  display: block;
  padding: 24px 0;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: #404bbf;
}
.contacts {
  margin-left: auto;
}
.contacts-list {
  display: flex;
  gap: 40px;
}
.contacts-item {
}
.contacts-link {
  padding: 24px 0;
  font-weight: 400;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
